@model Exam_Works_01.Models.Teacher
@{
    ViewBag.Title = "Teachers-Delete";
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(e => e.TeacherId)
    <h4>Delete Teacher:</h4>
    <div class="form-group row mb-2">
        @Html.LabelFor(e => e.Teacher_Name, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
        <div class="col-5">
            @Html.DisplayFor(e => e.Teacher_Name, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-2">
        @Html.LabelFor(e => e.Email, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
        <div class="col-5">
            @Html.DisplayFor(e => e.Email, new { @class = "form-control form-control-sm" })
        </div>
    </div>

    

    <div class="form-group row mb-2">
        @Html.LabelFor(e => e.ClassStartDate, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
        <div class="col-5">
            @Html.DisplayFor(e => e.ClassStartDate, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group row mb-2">
        @Html.LabelFor(e => e.Picture, new { @class = "col-form-label col-form-label-sm text-end col-2" })
        <div class="col-5">
            <img src="~/Images/@Model.Picture" width="40" class="img-thumbnail rounded-circle" />
        </div>
    </div>
    <div class="form-group row mb-3">
        <div class="col-10 offset-2">
            <button type="submit" class="btn btn-success">Confirm Delete</button>
        </div>
    </div>
}
<div class="row">
    <div class="col">
        <a href="@Url.Action("index", "Teachers")"><i class="fa fa-backward"></i>Back to Index</a>
    </div>
</div>

@section styles {
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

