@model IEnumerable<Exam_Works_01.Models.Teacher>


<div class="container mb-2">
    <div class="row mb-2">
        <div class="col">
            <div class="display-6">Teachers Lists:</div>
            <div class="d-flex justify-content-end mb-1">
                <a href="@Url.Action("Create", "Teachers")" class="btn btn-outline-primary">Create New</a>
            </div>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>Photo</th>
                        <th>@Html.DisplayNameFor(e => e.Teacher_Name)</th>
                        <th>@Html.DisplayNameFor(e => e.Email)</th>
                        <th>@Html.DisplayNameFor(e => e.ClassStartDate)</th>
                        
                        <th>@Html.DisplayNameFor(e => e.Subject.Subject_Name)</th>
                        <th>@Html.DisplayNameFor(e => e.Subject.Subject_Code)</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var em in Model)
                    {
                        <tr>
                            <td><img src="~/Images/@em.Picture" width="40" class="img-thumbnail rounded-circle" /></td>
                            <td>@Html.DisplayFor(e => em.Teacher_Name)</td>
                            <td>@Html.DisplayFor(e => em.Email)</td>
                            <td>@Html.DisplayFor(e => em.ClassStartDate)</td>
                            <td>@(em.Subject.Subject_Name)</td>
                            <td>@(em.Subject.Subject_Code)</td>
                            <td class="text-center"><a href="@Url.Action("Edit", "Teachers", new { Id =em.TeacherId })"><i class="fa fa-pencil-square-o btn btn-outline-success"></i></a></td>
                            <td class="text-center"><a href="@Url.Action("Delete", "Teachers", new {Id =em.TeacherId })"><i class="fa fa-trash-o btn btn-outline-danger"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
}
