@model Evidance_001.Models.Vehicle
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    <h4>Create new book</h4>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.VehicleId, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
        <div class="col-5">
            @Html.TextBoxFor(x => x.VehicleId, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.VehicleId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.VehicleTypes, new { @class = "col-form-label col-form-label-sm col-2 text-end" })
        <div class="col-5">
            @Html.TextBoxFor(x =>x.VehicleTypes , new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.VehicleTypes, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">

        <div class="col-10 offset-2">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
}
<div class="row">
    <div class="col">
        
        @Html.ActionLink("Back to list", "Index")
    </div>
</div>
@section styles {
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts {

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
}




